
main {
    padding: 20px;
    text-align: center;
}

/* Estilos del modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: white;
    margin: 10% auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    max-width: 800px;
    position: relative;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.5s;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #eee;
    background-color: #333;
    color: white;
}

.modal-header .logo {
    max-height: 50px;
}

.modal-header .close-button {
    font-size: 30px;
    cursor: pointer;
}

.modal-body {
    padding: 20px;
}

.history-textbox {
    text-align: left;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Líneas decorativas */
.modal-content::before,
.modal-content::after {
    content: '';
    display: block;
    height: 4px;
    background-color: orange;
    position: absolute;
    left: 0;
    right: 0;
}

.modal-content::before {
    top: 0;
}

.modal-content::after {
    bottom: 0;
}
